#banner-ad {
    width: 728px;
    height: 90px;
    position: fixed;
    bottom: 5%;
    display: flex;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: #C4C4C4;
    border-radius: 10px;
}

.closeAd {
    width: 20px;
    height: 20px;
    background: #F2F2F2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
}

.hide {
    display: none;
}

.closedBanner {
    width: 480px;
    height: 95px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    position: fixed;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.closedBanner .closedBannerText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.closedBanner .disableAds {
    width: 210px;
    height: 40px;
    background: #2FB59D;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.closedBanner .disableAds .disableAdsLink {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    #banner-ad {
        display: none;
    }
}
