html, body, svg {
	padding:0;
	margin:0;
	font-family: Liberation sans, sans-serif;
}

* {
	touch-action: pan-x pan-y;
}

body {
	background-color: #f2f2f2;
}

#canvas {
	transform-origin: 0 0;
	background-color: #fff;
}

.forErasing {
	outline: 2px solid red;
}

.selectedEl {
	outline: 2px solid blue;
}

#board {
	position: relative;
	overflow: hidden;
}

#canvas line {
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#canvas path {
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#canvas text {
	font-family:"Arial", "Helvetica", sans-serif;
	user-select:none;
	-moz-user-select:none;
}

#canvas circle.opcursor {
	pointer-events: none;
	transition: .1s;
}

#cursor-me {
	transition: 0s;
}

#formulaToolInput, #textToolInput {
	min-width: 300px;
	max-width: min(90vw, 400px);
	padding: 20px;
	border: 2px solid black;
	position: absolute;
}

#textToolInput {
	padding: 5px;
	user-select: all;
}

#mobileWindowRect {
	outline: 3px solid dodgerblue;
	fill: none;
	transition: .2s;
}

.border-for-white{
	border: 1px solid black;
}

foreignObject {
	overflow: visible;
}

.forErasing pre {
	outline: 2px solid red;
}

pre {
	width: fit-content;
	width: -moz-fit-content;
	margin: 0;
}